# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/

# Node
node_modules/
npm-debug.log*

# Env & local files
.env
*.local

# Build artifacts
dist/
build/
coverage/

# OS/editor
.DS_Store
.vscode/
.idea/
